<div id="content">
  <% unless @dairy.empty? %>
      <% @dairy.each do |diary|%>
          <p>
            <%=  get_child_dairy_log(diary, for_api=true).html_safe %>
          <p>
      <%end%>
  <% else %>
      <p> Unable to find any Diary record Under current child Profile</p>
  <% end %>
</div>
