<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @machine_log.description %>
</p>


<%= link_to 'Edit', edit_machine_log_path(@machine_log) %> |
<%= link_to 'Back', machine_logs_path %>
