<h3> Welcome to Diluo Management System</h3><br>

<div class="left_div">
<h5>Total users : <%=@total_users.count%></h5>
<h5>Total Child Profiles : <%=@total_childs.count%></h5><br>
<h5>Total Registered Machines : <%=@total_registed_machines.count%></h5>
<h5>Total Unregistered Machines : <%=@total_unregisted_machines.count%></h5><br>
<h5>Avg. Time to make milk : 2 mins</h5>
<h5>Avg. Time to change diaper : 10 mins</h5>
<h5>Avg. Baby weight  : 12 pounds</h5>


</div>