
<h1 class="new_machine_head">Editing Child Profile</h1>
<div class="edito_machine">


<%= render 'form' %>

<%unless @child_profile.pictures.nil?%>
    <%@child_profile.pictures.each do |pic|%>
        <%= image_tag pic.image_url ,:height => 150,:width => 150  if pic.image? %><br>
        <%= link_to "Remove", pic,:method => "delete"%>

    <%end%>
<%end%>

</div>
