<h1>Editing Child Profile</h1>

<%= render 'form' %>

<%unless @child_profile.pictures.nil?%>
    <%@child_profile.pictures.each do |pic|%>
        <%= image_tag pic.image_url  if pic.image? %><br>
        <%= link_to "Remove", pic,:method => "delete"%>

    <%end%>
<%end%>


