<h1>Editing child_brewing_preference</h1>

<%= render 'form' %>

<%= link_to 'Show', product_child_brewing_preference_path(@product,@child_brewing_preference) %> |
<!--< link_to 'Back', products_path(@product) %>-->
