<div class="heading">
  <h1 class="list_mach_head">Vendor Products  </h1>
  <div class="float_right">
    <%= link_to 'New Product', new_vendor_product_path(:vendor_id => params[:vendor_id]) %>
  </div>
</div>
<%unless @vendor_products.nil?%>
    <table id="vendor_table">
      <thead>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <% @vendor_products.each do |vendor| %>
          <tr>
            <td><%= vendor.name%></td>
            <td><%= link_to 'Show', vendor_product_path(:vendor_id=>params[:vendor_id], :id=>vendor.id) %></td>
            <td><%= link_to 'Destroy', vendor_product_path(:vendor_id=>params[:vendor_id], :id=>vendor.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<%end%>

<br />


<script>
    $(document).ready(function(){
        $("#vendor_table").dataTable()
    });
</script>