#wrap {
    position: relative;
    width: 960px;
    margin: 0 auto;

    height: 100%;
    /*margin: 0 auto -155px*/

}
#wrapper {
    min-height:100%;
    position:relative;
}

.header_div {
    /*border: 1px solid grey;
    margin-top: 5px;
    float:left;*/
    margin: 5px 0px;
    float: left;
    width: 100%;
}
.image_div{
    /*border: 2px solid;*/
    height: 66px;
    margin-left: 15px;
    margin-top: 14px;
    margin-bottom:14px;
    width: 175px;
    float:left;
    /*background-color: deepskyblue;*/
}
.search{
    /*border: 1px solid grey;*/
    float: right;
    height: 20px;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: -3px;
    width: 200px;
}
.users{
    float: right;
    margin-right: 10px;

}
.search_div{
    float: right;
    margin-right: 10px;
    margin-top: -21px;

}
/*.info_div{*/

    /*margin-left: 516px;*/
    /*width: 400px;*/
    /*height: 11px;*/
/*}*/
.notice{
    background-color: green;
    color: #ffffff;
}
.alert{
    background-color: red;
    color: white;
    float:left
}

.footer_div{
    margin-top: 35px;
    border: solid 1px;
}
.logo_div{
    /*background: none repeat scroll 0 0 #00BFFF;*/
    height: 75px;
    /*margin-left: 535px;*/
    width: 180px;
    /*margin-top: 250px;*/

}
.sign_in_div{
    /*border: 2px solid;*/
    /*margin-left: 450px;*/
   /*margin-top: 250px;*/
    /*float:left;*/
    /*width: 300px;*/
    /*border-bottom:1px solid skyblue;*/
    /* margin-top: 400px;*/
    /*width: 310px;*/
    margin-left: 360px;
    margin-top: 100px;
    float: left;
    width: 350px;

}
.sing_in_inner_div{

    /*padding-left: 25px;*/
    float:left;
    margin:10px 0px;
}
table{
    border-collapse:collapse;
    border:1px solid grey;
}
.submit_button{
    margin-left: 230px;
}

table td{
    border:1px solid #ccc;
}
.nav_div{

    border-top: 1px solid deepskyblue;
    float:left;
    width:100%;
    position: relative;
    z-index: 999;
}
.heading{
    margin:10px 0px;
    color: deepskyblue;
    float:left;
    width:100%;
}

/*drop down menu css*/


.nav_div ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav_div ul li {
    display: block;
    position: relative;
    float: left;
}
.nav_div li ul {
    display: none;
}
.nav_div ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: deepskyblue;
    margin-left: 1px;
    white-space: nowrap;
}
.nav_div ul li a:hover {
    background: deepskyblue;
}
.nav_div li:hover ul {
    display: block;
    position: absolute;
}
.nav_div li:hover li {
    float: none;
    font-size: 11px;
    background-color: deepskyblue;
    color: #fff;
}
/*li:hover a {*/
    /*background: #617F8A;*/
/*}*/
/*li:hover li a:hover {*/
    /*background: #95A9B1;*/
/*}*/


/* end of dropdown styles*/


/*footer css*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer {

    width:1000px;
    float:left;
     color:deepskyblue;
    border-top:1px solid deepskyblue;
    position:absolute;
    bottom:30px;

}
#footer_text{
    text-align: center;
    width: 100%;
    float:left;
}

#container{
    padding-top: 25px;
    padding-bottom:100px; /* Height of the footer element */
}
.left{
    padding-right: 180px;
    display: table-cell;
    width: 250px;
}
.right{
    width: 250px;
    display: table-cell;
}
.center{
    padding-right: 180px;
    display: table-cell;
    width: 250px;
}
.content_row{
    margin-top: 10px;
}

#error_explanation{
    margin-top: 10px;
}

.csv_format{
    height: 30px;
    width: 130px;
    float: right;
    color: deepskyblue;
}
.csv_format a {
    color: deepskyblue;
}

.text_field{
    margin-right: 50px;
    width: 200px;

    display: inline;
}
.label_div{
    /* height: 30px;
     width: 10%;   new_machine_head
     border: solid 1px #000000;*/
    /*background-color: #0066CC;*/
    float: left;
}
.devise_body{
    margin: 0;
    width: 100%;
}
.value_div{
    height: 30px;
    width: 90%;
    margin-left: 115px;
    /*border: solid 1px #000000;*/
    /*background-color: #66CC00;*/
}
.users a {
    color: deepskyblue;
}
.float_right{
    float: right;

}
.float_right a {
    color: deepskyblue;
}
.heading_color{
    color: deepskyblue;
    width: 100%;
    float:left;
    margin:10px 0px;
}
.child_pic{
    float: left;
    height: 120px;
    width: 100px;
}
.main_wrapper
{
width: 100%;
float: left;
}
.wrap
{
    width:1000px;
    margin:0 auto;
}
.logo_div
{
    border-bottom:1px solid deepskyblue;
    margin:10px 0px;
    width: 100%;
    float:left;
}

.signo_in{
    float:left;
    width:100%;
position:relative;
    margin-bottom:250px;
}
.sign_in_div h3
{
    float:left;
    width:100%;
    border-bottom:1px solid deepskyblue;
    padding:10px 0px;
}
#parent_profile_table
{
    float:left;
    width:100%;
    margin:20px 0px;
    border: 1px solid #ccc;

}
table.dataTable thead th
{
    border-bottom:1px solid #ccc;
}
table.dataTable tr.odd td.sorting_1 ,table.dataTable tr.odd {
    background-color: #eee;
}
table.dataTable tr.even td.sorting_1
{
    background-color: #fff;
}
a:hover
{
    background:none;
    color:deepskyblue;
}
a{
    color:deepskyblue;

}
.new_parent_profile , .edit_parent_profile
{
float: left;
width: 100%;
}
#machines_table , #firmware_table , #all_users , #user_machine_table , #parent_child_table  , #child_stat_table , #child_log_table
{
    float:left;
    width:100%;
    margin:10px 0px;
}
.new_machine_head
{
    margin:10px 0px;
    float:left;
    color:deepskyblue;
    width:100%;
    font-size: 18px;
}
.new_firm  , #child_profiles
{
    float:left;
    width:100%;
}
.breadcrum
{
    width:100%;
    float:left;
    font-size:12px;
    color:#ccc;
    margin:10px 0px
}
.breadcrum a , .breadcrum a:hover{
    color:#333333;
    text-decoration:none;
}
h3 a{
    text-decoration:none;
}
#parent_child_table td a  , #user_machine_table td a
{
    color:deepskyblue;
}
.childo {
    float: left;
    width: 80%;
    margin-left: 20px;
}
.lefto
{
    padding-right: 72px;
    display: table-cell;
    width: 250px;
}
.left_div{
    /*border: solid 1px;*/
    height: 200px;
    width: 200px;
    background: lightgray;
}