<h1 class="new_machine_head">Listing firmwares</h1>

<table id="firmware_table">
  <thead>

    <th>Firmwareversion</th>
    <th>Binaryfile</th>
    <th>Serialids</th>
    <th></th>
  </thead>

  <tbody>
<% @firmwares.each do |firmware| %>
  <tr>
    <td><%= firmware.firmwareversion %></td>
    <td><%= firmware.binaryfile %></td>
    <td><%= firmware.serialids %></td>
    <td></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<div class="new_firm"><%= link_to 'New Firmware', new_firmware_path %>   </div>
<script>
    $(document).ready(function(){
        $("#firmware_table").dataTable()
    });
</script>